@if(booksTitles.length){
  <div class="container ">
  <div class="row ">
    <div class="col-md-4 col-12">
      <input
      class="m-3"
        type="text"
        placeholder="Search for a book"
        [(ngModel)]="keyword"
      />
    </div>
  </div>

  <div class="row">
    <div cdkDropListGroup class="example-group">
      <div class="col-md-4 col-4 example-container">
        <div
          cdkDropList
          [cdkDropListData]="filterBooksTitles"
          class="example-list mt-3"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let item of filterBooksTitles"
            class="example-box"
            cdkDrag
          >
            <span>
              {{ item }}
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-4 example-container">
        <div class="row">
          <div class="col-md-12 col-12">
            <h4 class="mt-2 mb-2">Selected Books</h4>
          </div>

          <div class="col-md-12 col-12">
            <div
              cdkDropList
              [cdkDropListData]="selectedBooks"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let item of selectedBooks"
                class="example-box"
                cdkDrag
              >
                <span>
                  {{ item }}
                  <i
                    class="fa fa-times"
                    aria-hidden="true"
                    (click)="removeBook(item)"
                  ></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-4 example-container">
        <div class="row">
          <div class="col-md-12 col-12">
            <h4 class="mt-2 mb-2">List preview</h4>
          </div>

          <div class="col-md-12 col-12">
            <div
              cdkDropList
              [cdkDropListData]="selectedBooks"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <p>
                Discover new worlds and ideas with our curated selection of
                suggested reads!
              </p>
              <div
                *ngFor="let item of selectedBooks"
                class="example-box"
                cdkDrag
              >
                <span>
                  {{ item }}
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="color-picker">
              <div
                class="color-circle"
                style="background-color: #e6ca99"
                (click)="changeColor('#E6CA99')"
              ></div>
              <div
                class="color-circle"
                style="background-color: #d4e5f5"
                (click)="changeColor('#D4E5F5')"
              ></div>
              <div
                class="color-circle"
                style="background-color: #eec6c7"
                (click)="changeColor('#EEC6C7')"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="loadingForSpinner">
    <app-spinner></app-spinner>
  </div>
</div>
}
@else {
  <div class="text-center mt-3" *ngIf="loadingForSpinner">
    <p >Loading ...</p>
    <app-spinner></app-spinner>
  </div>
}
