
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
  margin: auto;
  margin-top: 50px;
  font-size:1rem;
  margin-bottom: 140px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  }
  


.example-group {
  display: flex;
}

 .example-container:nth-of-type(2) .example-list .example-box > span {
  background-color: #f2f2f2;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.example-container:nth-of-type(3) .example-list .example-box > span {
  background-color: #a3b2dd;
  padding: 8px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1),
    inset 0 -2px 3px rgba(0, 0, 0, 0.2);
  
}

.example-container:nth-of-type(1) .example-list .example-box:not(:last-child) {
  border-bottom: 2px solid black;
}

.example-container:nth-of-type(3) .example-list {
  background: linear-gradient(to bottom right, #f1e3ca, #f0e6d2),
    url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  background-blend-mode: multiply;
  border-radius: 5px;
  padding: 5px;
}



.example-container:nth-of-type(3) .example-list p {
  font-family: "Shadows Into Light", cursive;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: calc(.5rem + 2vw);
}

.example-list {
  border: 2px solid black;
  min-height: 300px;
  border-radius: 4px;
  margin: 0;
  display: flex;
  flex-direction: column;  
}

.example-box {
  padding: 8px 4px;
  border-radius: 4px;
  cursor: move;
}

span .fa {
  color: #ff0000;
  border: none;
  cursor: pointer;
}

.example-container {
  flex: 1;
  margin: 10px;
}
.color-picker {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;
  justify-content:flex-start; 
   background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px; 
}
.color-circle {
  width: 2.5rem;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus {
  border-color: #6a8fc0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.text-wrap{
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}